/CoffeeShop.class
/DiceEx.class
/DiceEx2.class
/EvemOdd.class
/IfEx.class
/IfEx2.class
/MetroCity.class
/ScannerEx.class
/SwitchEx.class
/SwitchEx02.class
/SwitchEx03.class
/VariableEx01.class
/BasicLoop.class
/DoWhileExample.class
/DoWhileEx.class
/ForEx01.class
/ForEx02.class
/NestedLoop.class
