/Student.class
/LambdaExpressionsExample.class
/ParallelExample.class
/MapAndReduceExample.class
/FromArrayExample.class
/Member.class
/StreamPipelinesExample.class
/FlatMapExample.class
/MapExample.class
/AsDoubleStreamAdnBoxedExample.class
