/SystemInTest1.class
/SystemInTest2.class
/FileInputStreamTest1.class
/FileInputStreamTest3.class
/FileOutputStreamTest0.class
/FileOutputStreamTest2.class
/InputStreamReaderTest.class
/FileCopyTest.class
/DataStreamTest.class
/SerializationTest.class
/Person.class
/ExternalizableTest.class
/Dog.class
